.isactive {
  color: #000000;
}

.inActive {
  color: #d1d3d2;
}

.yesactive {
  color: #37e0fa;
}
.noactive {
  color: gray;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
